<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rehafit</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="Assets/Logo_1382x1382.png">
    <script src="index.js"></script>
    <link rel="stylesheet" id="switcher-id" href="Assets/Themes/themes-light.css">
</head>
<body onload="onLoad()">
    <div class="parent-of-all">
                <div style="width: 100%; align-content: center; display: flex;">
                    <img src="Assets/Banner_1500x1500.png" style="width: 60%; margin: auto;">
                </div>
        <div class="header">
            <div class="header-content">
                <div class="header-image-parent">
                    <img src="Assets/Logo_1382x1382.png" alt="logo" class="header-image" onclick="ChangeLocation('index.html')">
                </div>

                <div class="header-name-parent">
                    <a class="header-name">helprehafit</a>
                </div>
            </div>
            <div class="name-parent">
                <a class="name-text">Mgr. Kateřina Jordánková</a>
            </div>
        </div>

        <div style="height: 1.9em;"></div>
    </div>
    <div style="height: 1.9em;"></div>
    <div style="width: 100%; text-align: center;"> 
        <a class="index-text"> Pomoc při potížích pohybového aparátu, regenerace, rekondice, preventivní programy </a>
    </div>
    
    <div class="ButtonMenu">
        <button class="LinkButton" onclick="ChangeLocation('about.html')">
            O mně
        </button>
        <button class="LinkButton" onclick="ChangeLocation('pricing.html')">
            Ceník
        </button>
        <button class="LinkButton" onclick="ChangeLocation('contact.html')">
            Kontakt
        </button>
    </div>

    <!--
    <div class="contacts-parent">
        <img src="Assets/Image_377x524.jpg" class="contacts-image">
        <div class="contacts-text">
            <b>Mgr. Kateřina Jordánková</b><br>
            <br>
            Dům lékařských služeb ( 2.patro )<br>
            B. Smetany 1123/24<br>
            680 01  Boskovice<br>
            <br>
            <b>E-mail:</b> jordankova.katerina@seznam.cz<br>
            <br>
            <b>Stránky:</b> <a href="https://helprehafit.cz" style="color: var(--colors-primary);">helprehafit.cz</a><br>
            <br>
            <b>Telefon:</b> +420 603 293 778<br>
        </div>
    </div>
    <div>
        <table class="pricing-content">
            <tr>
                <td style="padding-right: 1em;">30 min</td>
                <td>600 Kč</td>
            </tr>
            <tr>
                <td style="padding-right: 1em;">60 min</td>
                <td>900 Kč</td>
            </tr>
            <tr>
                <td style="padding-right: 1em;">Manuální symetrizace a harmonizace celého těla 90 min      </td>
                <td>1500 Kč</td>
            </tr>
            <tr>
                <td style="padding-right: 1em;">Expres termín do 24h  30 min 1200 Kč / 60 min</td>
                <td>1800 Kč</td>
            </tr>
        </table>
    
        <a class="pricing-text">
            <br>
            Služby jsou hrazeny klientem v hotovosti na místě. <br>
            Po dohodě lze vystavit za poskytované služby fakturu.<br>
            V současné době nepřijímám platební karty.
        </a>
    
        <img src="Assets/Spine_1784x2448.jpg" class="pricing-image">
    </div>

    <div class="about-content">
        <h2>Vzdělání:</h2>

        <ul>
            <li>2001 ukončení bakalářského studia na LF MU Brno Specializace ve zdravotnictví, obor Zdravotní vědy, směr Fyzioterapie a léčebná rehabilitace</li>
            <li>2003 ukončení magisterského studia na LF MU Brno Specializace ve zdravotnictví, obor Zdravotní vědy, směr Fyzioterapie a léčebná rehabilitace</li>
        </ul>

        <h2>Praxe:</h2>

        <ul>
            <li>IN Boskovice a.s.</li>
            <li>Sdružení osob s poruchami hybnosti a komunikace Jihlava</li>
            <li>R+RC s.r.o Brno</li>
            <li>SZZ II Zahradníkova Brno</li>
            <li>NZZ Mgr. Kateřina Jordánková MC Hippokrates Boskovice</li>
            <li>Domov pro seniory Černá Hora</li>
            <li>Nemocnice ve Svitavách</li>
            <li>Nemocnice Letovice</li>
            <li>OLÚ Jevíčko</li>
            <li>Chironax Invest s.r.o. Brno</li>
        </ul>

        <h2>Kurzy:</h2>

        <ul>
            <li>Certifikovaný kurz Diagnostika a terapie funkčních poruch hybného systému Brno</li>
            <li>Certifikovaný kurz Fyzioterapie u dysfunkce pánevního dna a inkontinence Čelákovice</li>
            <li>Certifikovaný kurz tejpování FMT Basic Rocktape Brno</li>
            <li>Certifikovaný kurz tejpování FMT Basic Rocktape Brno</li>
            <li>Certifikovaný kurz S-E-T Concept Record Hradec Králové</li>
            <li>Certifikovaný kurz S-E-T Concept Record Hradec Králové</li>
            <li>Certifikovaný kurz Flexi bar Basic,  Flexi bar Advanced Brno</li>
            <li>Certifikovaný kurz Bosu Core, Bosu Strenght, Bosu Core Mapa I Praha</li>
            <li>Kurz mobilizace žeber  metodou Ludmily Mojžíšové Brno</li>
            <li>Kurz v technikách vědomé posturální korekce, cvičení na míčích a labilních plochách Brno</li>
            <li>Kurz v neinvazivní laserové terapii Brno</li>
            <li>Kurz stabilizace páteře teorie, praxe Praha</li>
            <li>Kurz Diagnostika a terapie závratí Dobřichovice</li>
            <li>Podiatrické minimum – vyšetření na podoskopu a systémem PodoCam 2.0 MEDsport Hradec Králové</li>
            <li>Úrazy a onemocnění lokte Brno</li>
            <li>Kurz základy první pomoci dle Guidelines 2010</li>
            <li>Kurz akupunktury IPVZ Praha</li>
            <li>Kurz praktické postupy v akupunktuře IPVZ Praha</li>
            <li>Kurz Mohendžodáro – Osho Sugama Meditation Center</li>
            <li>Školící akce MUDr. Lewitta  CKP Dobřichovice</li>
        </ul>
    </div>-->
</body>
</html>
