:root{
    --font-size-paragraph-header: 3em;
    --font-size-paragraph-text: 1.5em;
}
@font-face {
    font-family: MuseoSans;
    src: url(Assets/MuseoSans_500.otf);
}

.primary{
    color: var(--colors-primary);
    background-color: var(--colors-primary);
}

.secondary{
    color: var(--colors-secondary);
    background-color: var(--colors-secondary);
}

body{
    background-color: var(--colors-background-primary);

    margin: 0;
    padding: 0;
    border-radius: 5px;

    width: 100%;
    height: 100%;

    font-family: var(--font-primary);

    overflow-y: scroll;
    

    color: var(--colors-font-positive);
}

html {
    scroll-behavior: smooth;
}

button{
    border-width: 0;
}

.header-name-parent{
    display: flex;
    flex-direction:column;
}

.header-content{
    margin: auto;
    padding: 0 1.5em 0 0 ;
    
    width: 100%;
    height: 4em;
    
    align-items: center;
    align-content: center;
    
    display: flex;
}

.header{
    margin: 0;
    padding: 0;
    
    width: 100%;
    height: 4em;
}

.header-image{
    width: 3.5em;
    height: 3.5em;
    
    padding: 0;
    margin: 0 1em 0 1em;
}

.header-name{
    font-size: 6em;
    font-weight: 700;
    color: var(--colors-primary);
    font-family: var(--fonts-primary);
}

.header-description{
    margin-top: 0;
    font-weight: 550;
}

.bordered{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
}

/*COLLAPSIBLE*/

.collapsible-parent{
    margin: 0;
    padding: 0;

    width: 100%;
    height: min-content;
    border-radius: var(--border-radius-secondary);
    overflow: hidden;
}

.collapsible-content{
    margin: 0;

    background-color: white;

    /*border-radius: 0 0 var(--border-radius-secondary) var(--border-radius-secondary);*/

    font-family: var(--font-primary);
    font-size: var(--font-size-paragraph-text);

    max-height: 0;

    zoom: 1;

    display: block ; 

    overflow: hidden ;

    transition: max-height 0.2s ease-out;
}

.collapsible-header{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 2em;

    background-color: var(--colors-primary);
    font-family: var(--font-primary);
    color: white;
    font-size: 1.6em;

    /*border-radius: 1em 1em 1em 1em;*/

    /*transition: border-radius var(--transition-length) 0.25s ease-out;*/
    transition: all var(--transition-length);

    display: flex;
    align-items: center;
    
}

.collapsible-header:hover{
    background-color: color-mix(in srgb, var(--colors-primary) 90%, black 10%);
    cursor: pointer;
}

.parent-of-all{
    margin: auto;
    margin-top: 2.2em;
    margin-bottom: 3em;
    padding: 0 3em 0 3em;  

    width: min-content;
}


h2{
    color: var(--colors-font-positive);
    align-self: center;
    text-align: center;

    font-weight: 300;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

a{
    color: var(--colors-font-positive);
}

ul{
    padding: 0 0 0 1.5em;
    margin: 0;
}

li{
    padding: 0;
    margin: 0;
}

.collapsible-header-content{
    margin: auto;
    display: flex;
}

.collapsible-header-text{
    color: white;
    align-self: center;
}
.collapsible-header-caret{
    /*margin-top: 0.1em;*/

    width: 2em; 
    height: 2em; 

    align-self: center;
}

.contacts-parent{
    margin: auto;

    width: 90%;

    display: flex;
    flex-grow: 1;

    border-radius: var(--border-radius-secondary);
    overflow: hidden;
}

.contacts-image{
    margin-top: 0.4em; 
    width: 100%; 
    border-radius: var(--border-radius-secondary);
    overflow: hidden;
}

.contacts-right{
    width: 40%;
}

.contacts-left{
    width: 60%;
    padding: 0 0 0 1em;

    align-self: center;
}

.flexbox{
    display: flex;
}
