:root{
    --colors-primary: rgb(58, 205, 255);
    --colors-secondary: rgb(58, 172, 58);
    --colors-background-primary: white;
    --colors-font-positive: black;

    --font-primary: MuseoSans;

    --font-size-collapsible-header: 1em;
    
    --border-radius-secondary: 0.3em;
    --transition-length: 0.2s;

}